<h1>
  {{title}}
</h1>

<input type="checkbox" [(ngModel)]="showThis" />
<input type="text" [(ngModel)]="someText" />

<div *ngIf="showThis">
  this is conditionally shown0
</div>
<div>
  {{someText}}
</div>

<ul>
  <li *ngFor="let topping of aList">{{topping}}</li>
</ul>
 
<new-component></new-component>